<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/orders/add">Add New Order</a> | 
			<a href="/orders">All Orders List</a> |
			<a href="/customers">All Customers List</a>
		</div>	
		<h1><%= title %></h1>